h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}
h2 {
  font-size: 40px;
  color: #1098ad;
}
h3 {
  font-size: 30px;
  color: #1098ad;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1098ad;
}
p {
  font-size: 20px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}
/* article header p {
  color: red;
  font-style: italic;
}
 */

#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
body {
  /* background-color: red; */
}
li:first-child {
  font-weight: bold;
}
li:nth-child(even) {
  color: red;
}
li:nth-child(odd) {
  color: blue;
}
article p:first-child {
  color: green;
}

article p:last-child {
  color: green;
}

/* Styling Links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA */
