.product {
  border: 4px solid black;
}

.product-title {
  color: #000;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}
.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style-type: square;
}
.details-list li {
  margin-bottom: 10px;
}

.product-list {
  line-height: 1.5;
  list-style: disc;
}
.add-to-cart {
  background-color: black;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
}
.add-to-cart:hover {
  background-color: white;
  color: black;
}
